
body{
    margin:0;
}
header{
    text-align:center;
    height:40vh;
    display:flex;
    flex-direction: column;
    position:relative;
    top:30px;
    background-color:rgb(156,26,0);
    padding:20px;
    color:white;
}
.grid{
    display:flex;
    justify-content: space-evenly;
}
.btn-outline-primary{
    background-color:rgb(156,26,0);
    color:white;
    border:none;
}
h2,h4,button{
    color:rgb(156,26,0);
}
#medium-toppings,#large-toppings{
    display:none;
}
button{
    background-color:rgb(156,26,0);
}
#float-image{
    width:30%;
    height:100%;
    float: right;
    margin-left: 10px;
}
#description{
    padding:10px;
    margin-bottom:30px;
    margin-right:30px;
    border:silver solid 1px;
    border-radius: 5px;
}
footer{
    text-align: center;
    background-color:rgb(156,26,0);
    color:white;
    padding:20px;
    width:100%;
}

